<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Calculadora de Compras</title>
</head>
<body>
    <header>
        <section>
            <div class="logo">
                <div class="titulo-maiusculo"> <span>C</span> </div>
                <div class="titulo-minusculo"><p>Calculadora de Compras</p></div>
            </div>
        </section>
    </header>
    <main>
        <section class="informacoes">
            <input type="text" name="informacaoProduto" placeholder="Nome do produto">
            <input type="number" name="informacaoPreco" min="0" step="0.01" placeholder="Preço">
            <input type="submit" name="cadastrar" value="Cadastrar">
        </section>
        <section class="lista-produtos">
            <div class="produto">
                <div class="marcacao">
                    <span class="material-icons ok">
                        check_circle_outline
                    </span>
                    <span class="material-icons delete">
                        delete
                    </span>
                </div>
                <h3>Café</h3>
                <h3 class="preco-produto"><span> R$ 5,00</span></h3>
            </div>
        </section>
        <section class="soma-produto">
            <h1>Total: R$ 0,00</h1>
        </section>
    </main>
</body>
</html>